{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title"> Movies Sorted by Rotten Tomatoes Score </h2>
        <h4>–––––– Ties are resolved using IMDB rating </h4>
        <li><a href="{{ url_for('ratings_sorted_IMDB') }}">Sort by IMDB rating</a></li>
        <li><a href="{{ url_for('filter_top250_RT') }}">Filter IMDB 250</a></li>
        <li><a href="{{ url_for('filter_top100_RT') }}">Filter IMDB 100</a></li>
        <li><a href="{{ url_for('list_movies_ratings') }}">Remove sorting and filters</a></li>        
        <hr/>
        {% if session.logged_in %}
        <a class="pure-button" href="{{ url_for('add_movie')}}">Add Movie</a>
        {% endif %}
        <div>
        <!-- All Movies -->
            <table class="styled">
                <thead>
                    <tr>
                        <td>Movie ID</td>
                        <td>Movie Name</td>
                        <td>Movie Release Year</td>
                        <td>Movie Metadata Count</td>
                        <td style = "background-color:#ffff99">Rotten Tomatoes Rating</td>                        
                        <td>IMDB Rating</td>
                        <td>IMDB 250</td>
                        <td>IMDB 100</td>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in allmovies %}
                        <!-- Each row is a link to each individual movie page -->
                        <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                            <td style="text-align: center">{{ instance.movie_id }}</td>
                            <td>{{instance.movie_title}}</td>
                            <td>{{instance.release_year}}</td>
                            <td>{{instance.count}}</td>
                            <td style = "background-color:#ffff99">{{instance.rt_score}}</td>
                            <td>{{instance.imdb_score}}</td>
                            <td>{{instance.top250}}</td>
                            <td>{{instance.top100}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
    
            </table>
    
        </div>
    </div>
</div>
{% include 'bottom.html'%}
